[Unit]
Description=Wheelchair Detection Kit

[Service]
User=root
WorkingDirectory=/home/iw20/wheelchair/jetson/lib
ExecStart=/home/iw20/wheelchair/jetson/lib/app
Restart=always

[Install]
WantedBy=multi-user.target